* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* light mode */
  --l-he-color: #E7DED2;
  --l-fo-color: #F7F4F0;
  --l-ba-color: #F7F4F0;
  --l-ca-color: #E6E3D7;
  --l-ti-color: #384720;
  --l-pa-color: #4B3E2E;
  /* dark mode */
  --d-he-color: #62513C;
  --d-fo-color: #212522;
  --d-ba-color: #212522;
  --d-ca-color: #8E8A78;
  --d-ti-color: #F3F6ED;
  --d-pa-color: #F7F4F0;
}

body {
  background-color: #F7F4F0;
}

/* texts */

h1 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 30px;
  color: #384720;
}
h2 {
  font-family: "Vollkorn SC", serif;
  font-weight: bold;
  font-size: 27px;
  color: #F3F6ED;
  background-image: linear-gradient(to bottom, #B3936D, #62513C);
  padding: 2px 10px;
  border-radius: 8px;
}
h3 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 24px;
  color: #384720;
}
h4 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 21px;
  color: #384720;
}
h5 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 18px;
  color: #384720;
}
h6 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 16px;
  color: #384720;
}
p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #4B3E2E;
}

/* links */

a, button {
  font-family: "Vollkorn SC", serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #F3F6ED;
  background-image: linear-gradient(to bottom, #85A94B, #495D29);
  padding: 2px 10px;
  border-radius: 16px;
  border: 0px solid #4B3E2E;
}
button {
  padding: 1px 10px !important;
}
.active {
  background-image: linear-gradient(to bottom, #273216, #647F39) !important;
  box-shadow: 0px 0px 5px rgba(173, 197, 134, 0.5), inset 4px 4px 15px rgba(0, 0, 0, 0.5) !important;
  cursor: default !important;
}

a:hover, button:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 6px rgb(127, 127, 127);
}

/* insert fields */
input {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #4B3E2E;
  background-color: #E7DED2;
  border: 0px solid #4B3E2E;
  border-radius: 16px;
  padding: 2px 10px;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
