.container {
  flex: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  background-color: var(--ba-color);
  transition: background-color var(--trans-speed) ease-in-out;
}
